body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: Archivo !important;
  color: #952953;
}

code {
  font-family: Archivo !important;
}

.count-contain {
  background-image: url("./assets/04.jpg");
  background-size: contain;
  height: 100vh;
  color: #fff;
  object-fit: contain !important;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.countdownLogo > img {
  height: 30rem;
}

.loading-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(6, 6, 6, 0.503);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Prevent overflow if scrolling animation extends beyond the container */
  z-index: 10;
  /* Ensure it is on top of other content */
}

.loading-animation {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.loading-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.loading-animation > * {
  position: relative;
  z-index: 2;
}
.time {
  color: #952953;
}

.time-box {
  background-color: #ffffff;
  margin: 0.5rem;
  border-radius: 8px;
  color: #952953;
  font-weight: bold;
  align-content: center;
  width: 90px;
  height: 90px;
}

.navbar {
  height: 3rem;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f8a845;
}

.parentContainer {
  height: 100vh;
  background-image: url("./assets/04.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
}

/* Main Container */
.store-spin-container {
  flex-basis: 50%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.RM_info_container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 52%;
  gap: 10px;
}

.content {
  text-align: center;
  margin-top: 45px;
}

.user-info {
  text-align: center;
}

.user-info h2 {
  font-size: 28px;
  font-weight: bold;
}

.user-info p {
  font-size: 16px;
}

.profile-pic {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
}

.circle {
  width: 200px;
  height: 200px;
  border: 2px solid #952953;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px #952953;
  position: relative;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.stats {
  display: flex;
  justify-content: top;
  margin-bottom: 20px;
  gap: 20px;
  flex-direction: column;
  height: 40%;
  width: 100%;
  align-items: center;
}

.stat {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px 15px;
  text-align: center;
  width: 160px;
  height: 113px;
}

.stat h3 {
  font-size: 66px;
  /* margin: 2px 0px; */
  margin-top: 14px;
  line-height: 1;
  font-family: "Exo", sans-serif;
  letter-spacing: 4px;
}

.stat p {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.spin-btn {
  background-color: #52b688;
  font-family: Archivo !important;
  color: #fff;
  padding: 10px 23px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 0px;
  letter-spacing: 1px;
  border: none;
}

.spin-btn:hover {
  color: #952953;
  background-color: #f9f8f7;
  border: 1px solid #952953;
}

.storeList {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.storeListPageLogo {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 4rem;
}

.storeListPageLogo > img {
  width: 18rem;
}

.storeParticipantList {
  width: 68%;
  height: 350px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #f9e01a; /* Light yellow background */
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.storeParticipantListHeader {
  text-align: center;
  z-index: 1;
  background-color: #f9e01a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 90px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.scrolling-content {
  display: flex;
  flex-direction: column;
  flex-basis: 95%;
  /* overflow: hidden; */
}

.scrolling-animation {
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    /* Start at the top */
  }

  100% {
    transform: translateY(-100%);
    /* Scroll to the top of the container height */
  }
}

.storeParticipant {
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
}

.list-title {
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.scrollable-list {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto; /* Scrollable */
  margin: 0;
}

.list-item {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.scrollable-list .list-item:last-child {
  border-bottom: none;
}

.scrollable-list .list-item:nth-child(even) {
  background-color: #f9f8f7;
}

/***************** /Wheel Container// ***************************************/

.wheelBlock {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel-container {
  display: flex;
  height: 322px;
  width: 320px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 142px;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wheels {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(
    #f6d2a2 0% 12.5%,
    /* 1st segment (odd) */ #972235 12.5% 25%,
    /* 2nd segment (even) */ #f6d2a2 25% 37.5%,
    /* 3rd segment (odd) */ #972235 37.5% 50%,
    /* 4th segment (even) */ #f6d2a2 50% 62.5%,
    /* 5th segment (odd) */ #972235 62.5% 75%,
    /* 6th segment (even) */ #f6d2a2 75% 87.5%,
    /* 7th segment (odd) */ #972235 87.5% 100% /* 8th segment (even) */
  );
}

.wheel-full {
  background: conic-gradient(
    #f6d2a2 0% 11.11%,
    /* 1st segment */ #972235 11.11% 22.22%,
    /* 2nd segment */ #f6d2a2 22.22% 33.33%,
    /* 3rd segment */ #972235 33.33% 44.44%,
    /* 4th segment */ #f6d2a2 44.44% 55.55%,
    /* 5th segment */ #972235 55.55% 66.66%,
    /* 6th segment */ #f6d2a2 66.66% 77.77%,
    /* 7th segment */ #972235 77.77% 88.88%,
    /* 8th segment */ #f6d2a2 88.88% 100% /* 9th segment */
  );
}

.wheel-three {
  /* background: conic-gradient(
    #FDD209 0% 33.3%,
    #94284F 33.3% 66.6%,
    #52B688 66.6% 100%
  ); */
  background: conic-gradient(
    #f6d2a2 0% 11.11%,
    /* 1st segment */ #972235 11.11% 22.22%,
    /* 2nd segment */ #f6d2a2 22.22% 33.33%,
    /* 3rd segment */ #972235 33.33% 44.44%,
    /* 4th segment */ #f6d2a2 44.44% 55.55%,
    /* 5th segment */ #972235 55.55% 66.66%,
    /* 6th segment */ #f6d2a2 66.66% 77.77%,
    /* 7th segment */ #972235 77.77% 88.88%,
    /* 8th segment */ #f6d2a2 88.88% 100% /* 9th segment */
  );
}
.segment-image {
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Adjust the size as needed */
  position: absolute;
  top: 50%;
  left: 50%;
}
/* Central white circle */
.central-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute; /* Center this circle */
  background-color: #f9d60c;
  background-image: linear-gradient(45deg, #f9d60c, #ffd700, #f9d60c);
  animation: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.central-circle::before {
  font-size: 36px;
  color: gold;
}

/* Add spinning animation */
.spinning {
  animation: spiner 14s linear forwards;
}

/* Keyframes for spinning animation */
@keyframes spiner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9600deg);
  }
}

.slowing {
  animation: slowDown 20s linear forwards;
}

/* Keyframes for slowing down the spinning */
@keyframes slowDown {
  from {
    transform: rotate(9600deg);
  }
  to {
    transform: rotate(180deg); /* Adjust this value for a gentle slowdown */
  }
}

.swalPopup {
  background-image: url("./assets/07.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

#swal2-html-container {
  padding: 3em 2.6em 0.3em !important;
  z-index: 10001 !important;
}

.winner-box {
  /* Add vertical scrollbar if content overflows */
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none !important; /* Make sure clicks go through to the popup */
  z-index: 10000 !important; /* Set a z-index that places it above the popup */
}

.winner-list {
  font-size: 20px;
  list-style-type: none;
  /* Bullet points for winner names */
  padding-left: 10px;
  /* Indent bullets */
  margin: 15px;
  max-height: 170px;
  /* Limit the height of the list to prevent overflow */
  overflow-y: auto;
  overflow-y: scroll;
  /* Allow vertical scrolling */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.winner-list li {
  font-size: 19px;
  margin-top: 10px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.winner-list::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

/* Hide scrollbar */

.winner-container {
  flex-basis: 70%;
  background-image: url("./assets/winnerBg.jpg");
  background-size: contain;
  background-position: center;
}

.rm-container {
  margin: 0px 60px;
  margin-bottom: 30px;
  /* border: 2px solid #000; */
  padding: 23px;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.rm-header {
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
}
.rm-header h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
}

.spins-container {
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  flex-wrap: wrap;
}

.winner-box {
  margin: 10px 0;
  border: 1px solid #999;
  background-color: #f9e01a;
  width: 30%;
  height: 320px;
  border-radius: 15px;
  margin: 10px;
  border: 2px solid #52b688;
  overflow: hidden;
  max-height: 240px;
  /* Limit the height of each box */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.winner-box::-webkit-scrollbar {
  display: none;
}

.winner-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
  padding: 7px;
  background-color: #52b688;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  color: #fff;
  text-align: center;
}

.winner-list li {
  margin-left: 20px;
}

@keyframes explode {
  0% {
    transform: scale(0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.upperBody {
  display: flex;
  justify-content: space-between !important;
  padding-top: 20px;
  padding-right: 20px;
  /* width: 90vw; */
}

.popup-container {
  height: 65vh;
  box-sizing: border-box;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
}
.popup-container::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}
